$max-size-xs-mobile:300px;
$max-size-mobile:600px;
$max-size-tablet:720px;
$max-size-desktop:1280px;
$max-size-large-screen:1920px;



$color-primary-blue: #0061ad;
$color-border-grey: #444444;
$color-white: #ffffff;
$color-dark-white: #c1c1c1;
$color-grey: #303030;
$color-light-grey: #c4c4c4;
$color-dark-grey: #1f1f1f;
$color-black: #0c0c0c;
$color-red: #ad0000;
