@import "../../../../scss/variables";
.location-weather-small-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%
}

.location-weather-image {
  height: 100px;
  width: 100%;
  overflow: hidden;
  img {
    width: 90%;
    height: auto;
  }
}

.location-weather-small-details {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
  padding: 8px;
}

@media(min-width: $max-size-xs-mobile) {
  .location-weather-small-wrapper {
    min-width: 200px;
    justify-content: unset;
    flex-direction: row;
  }
  .location-weather-image {
    width:100px;
  }
}
