@import "../scss/variables";

.favs-container {
  display: flex;
  flex-basis: 100%;
  margin-top: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}


.fav-container {
  margin-top :15px;
  width: 90%;
}

@media(min-width: $max-size-tablet) {
  .fav-container {
    width: 50%;
  }

}
@media(min-width: $max-size-tablet) {
  .fav-container {
    width: 15%;
  }
  .favs-container {
    flex-direction: row;
  }
}
